{% extends 'forms/base.html' %} {% load static %} {% block feature_css %}


<style>
    form {
        margin: auto;
        width: 85%;
        box-shadow: 5px 10px #bdbcbc;
        border-radius: 10px;
        padding: 40px 40px 40px 40px;
        border-style: solid;
        border-color: rgb(190, 186, 186);
        margin-top: 100px;
    }
    
    h1 {
        background-color: #066f95;
        padding: 20px 20px 20px 20px;
        border-radius: 10px;
        text-align: center;
        color: white;
        font-weight: bolder;
        padding-bottom: 10px;
    }
    
    .button {
        display: inline-block;
        padding: 15px 25px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #066f95;
        border: none;
        border-radius: 15px;
        box-shadow: 0 5px #999;
    }
    
    .button:hover {
        background-color: #568088
    }
    
    .button:active {
        background-color: #55a5b5;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
    
    h2 {
        padding-bottom: 10px;
        padding-top: 10px;
        color: #066f95;
        text-decoration: underline;
        font-weight: 400;
    }
    
    h3 {
        padding-top: 20px;
    }
    
    form span {
        color: red;
        font-size: 15px;
    }
    
    label {
        font-weight: bold;
        font-size: 20px;
    }
</style>
{% endblock %} {% block content%}
<form name="myForm" onsubmit="return validateForm()" method="POST" action="/brestfed/">
    {% csrf_token %}
    <h1>
        Breastfeeding Form
    </h1>

    Innovative Breastfeeding Technique (Cross Cradle Hold With Cupping Of Breast)
    <h2> Mother's Preparation : </h2>
    <br><span>*</span><label for="child_id"> Child Id : </label> <input type="number" id="cid" name="child_id">
    <span id="Message24"></span><br>
    <br><span>*</span><label for="mother_id"> Mother Id : </label> <input type="number" id="mid" name="mother_id"> <span id="Message25"></span><br>
    <label for="washed_and_dried_the_hands_properly" required> Washed and dried the hands properly? </label> <br>
    <input type="radio" id="yes" name="wash" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="wash" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="drank_boiled_and_cooled_water"> Drank boiled and cooled water? </label> <br>
    <input type="radio" id="yes" name="water" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="water" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="sat_on_the_floor_be_hair_feet_supported"> Sat on the floor, bed (in comfortable position) or chair (feet supported)?</label><br>
    <input type="radio" id="yes" name="sat" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="sat" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="back_straight_and_supported"> Back straight and supported? </label> <br>
    <input type="radio" id="yes" name="back" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="back" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="shoulders_relaxed_not_elevated_curved"> Shoulders relaxed (not elevated/curved)? </label> <br>
    <input type="radio" id="yes" name="shldr" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="shldr" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="uncovered_the_breast"> Uncovered the breast? </label> <br>
    <input type="radio" id="yes" name="uncvrd" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="uncvrd" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="no_pressure_of_bra_blouse_on_the_breast"> No pressure of bra/blouse on the breast? </label> <br>
    <input type="radio" id="yes" name="pressure" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="pressure" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="unwrapped_the_baby_f_lanket_while_feeding"> Unwrapped the baby from a blanket while feeding? </label> <br>
    <input type="radio" id="yes" name="unwrapped" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="unwrapped" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="held_the_baby_s_head_the_baby_will_be_fed"> Held the baby's head by opposite hand from the breast that the baby will be fed? </label> <br>
    <input type="radio" id="yes" name="heldbaby" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="heldbaby" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="baby_s_legs_tucked_u_of_the_opposite_hand"> Baby's legs tucked under an armpit of the opposite hand? </label> <br>
    <input type="radio" id="yes" name="legstucked" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="legstucked" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="elevate_the_baby_to_reach_the_breast"> Elevate the baby to reach the breast? </label> <br>
    <input type="radio" id="yes" name="elevatebaby" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="elevatebaby" value="no" checked>
    <label for="no">No</label><br>

    <h2> Position of Mother's Thumb & Fingers : </h2>
    <label for="mother_s_thumb_was_b_ther_ear_of_the_baby"> Mother's thumb was behind one ear & the rest of the fingers were behind another ear of the baby? </label> <br>
    <input type="radio" id="yes" name="thumb" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="thumb" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="wrist_rested_between_by_s_shoulder_blades"> Wrist rested between baby's shoulder blades? </label> <br>
    <input type="radio" id="yes" name="wrist" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="wrist" value="no" checked>
    <label for="no">No</label><br>

    <h2> Baby's Body Position : </h2>
    <label for="baby_s_tummy_was_gen_ainst_mother_s_tummy"> Baby's tummy was gently pressed against mother's tummy? </label> <br>
    <input type="radio" id="yes" name="babytummy" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="babytummy" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="head_neck_and_body_e_in_a_straight_line"> Head, neck and body were in a straight line?</label><br>
    <input type="radio" id="yes" name="head" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="head" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="nose_was_in_the_line_with_the_nipple"> Nose was in the line with the nipple? </label> <br>
    <input type="radio" id="yes" name="nose" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="nose" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="full_body_support_for_the_baby"> Full body support for the baby? </label> <br>
    <input type="radio" id="yes" name="fullbody" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="fullbody" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="chin_was_brought_for_the_neck_little_bit"> Chin was brought forward and close to the breast by extending the neck little bit? </label> <br>
    <input type="radio" id="yes" name="chin" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="chin" value="no" checked>
    <label for="no">No</label><br>

    <h2> Holding Breast : </h2>
    <label for="mother_cupped_her_br_baby_is_feeding_from"> Mother cupped her breast underneath with U-shaped hold using the hand on the side of the breast that the baby is feeding from?</label><br>
    <input type="radio" id="yes" name="cupped" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="cupped" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="mother_s_one_finger_sition_on_the_breast"> Mother's one finger was at 9'0'clock position, and other finger was at 3'0'clock position on the breast?</label><br>
    <input type="radio" id="yes" name="finger" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="finger" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="thumb_and_fingers_we_ance_from_the_nipple"> Thumb and fingers were at 3 finger distance from the nipple? </label> <br>
    <input type="radio" id="yes" name="distance" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="distance" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="mother_s_fingers_wer_allel_to_baby_s_lips"> Mother's fingers were parallel to baby's lips? </label> <br>
    <input type="radio" id="yes" name="parallel" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="parallel" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="compressed_the_breas_areola_in_the_mouth"> Compressed the breast while bringing the baby to latch. This contoured the breast for the easy gliding of lower areola in the mouth? </label> <br>
    <input type="radio" id="yes" name="compressbaby" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="compressbaby" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="equal_compression_of_ng_thumb_and_fingers"> Equal compression of the breast was done using thumb and fingers? </label> <br>
    <input type="radio" id="yes" name="equal" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="equal" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="avoided_v_shaped_com_lt_in_nipple_feeding"> Avoided V-shaped compression which could have result in nipple feeding? </label> <br>
    <input type="radio" id="yes" name="avoid" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="avoid" value="no" checked>
    <label for="no">No</label><br>

    <h2> Latching Check </h2>
    <label for="to_open_the_mouth_wi_to_baby_s_upper_lip"> To open the mouth widely, touched the nipple to baby's upper lip?</label><br>
    <input type="radio" id="yes" name="open" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="open" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="when_the_baby_opened_o_open_the_big_mouth"> When the baby opened her big mouth, glided the breast in the mouth; which sometimes may take few minutes but it is utmost important to wait patiently for the baby to open the big mouth?</label><br>
    <input type="radio" id="yes" name="mouth" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="mouth" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="upper_lip_was_restin_in_a_good_attachment"> Upper lip was resting just above nipple and lower lip was resting at the border of areola and the breast in a good attachment? </label> <br>
    <input type="radio" id="yes" name="upperlips" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="upperlips" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="lower_lip_curved_outwards"> Lower lip curved outwards? </label> <br>
    <input type="radio" id="yes" name="lowerlip" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="lowerlip" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="in_case_of_big_breas_p_is_curved_outwards"> In-case of big breasts with deeply latched baby - pressed the breast upwards near the lower lip to check if significant part of lower areola is in the mouth and if lower lip is curved outwards? </label>    <br>
    <input type="radio" id="yes" name="latched" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="latched" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="chin_was_embedded_in_the_breast"> Chin was embedded in the breast? </label> <br>
    <input type="radio" id="yes" name="chins" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="chins" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="once_the_lower_areol_t_it_behind_the_baby"> Once the lower areola latching is confirmed, removed the hand from the breast and brought it behind the baby?</label><br>
    <input type="radio" id="yes" name="lower" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="lower" value="no" checked>
    <label for="no">No</label><br>

    <h2> Feeding amount check </h2>
    <label for="fed_from_one_breast_e_offering_the_other"> Fed from one breast completely before offering the other? </label> <br>
    <input type="radio" id="yes" name="fedfrombreast" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="fedfrombreast" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="to_see_if_one_breast_d_from_the_same_side"> To see if one breast is completely emptied or not, expressed the milk little bit and see. If milk is watery and thin or if the thick milk is flowing copiously then continued to feed from the same side?</label><br>
    <input type="radio" id="yes" name="empty" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="empty" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="gave_both_foremilk_of_fats_to_the_baby"> Gave both foremilk (thin, watery, made up of protein) and hind milk (thick, yellowish and made up of fats) to the baby?</label><br>
    <input type="radio" id="yes" name="foremilk" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="foremilk" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="offered_both_breasts_to_the_baby"> Offered both breasts to the baby? </label> <br>
    <input type="radio" id="yes" name="offer" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="offer" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="burped_the_baby_befo_ted_by_mother_s_palm"> Burped the baby before offering other breast. The comfortable position to burp the baby is to put the baby in sitting position on mother's lap where the baby's jaw is supported by mother's fingers and the baby's chest is supported by mother's palm? </label>    <br>
    <input type="radio" id="yes" name="burped" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="burped" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="woke_up_the_baby_if_in_burping_position"> Woke up the baby if he/she falls asleep while feeding by - tickling on feet, back, behind the ears or making the baby sit in burping position?</label><br>
    <input type="radio" id="yes" name="wokeup" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="wokeup" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="used_clean_little_fi_asleep_on_the_breast"> Used clean little finger to release the hold of the baby on the breast just in case if the baby latches onto nipple or baby falls asleep on the breast? </label> <br>
    <input type="radio" id="yes" name="used" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="used" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="fed_the_baby_on_earl_mouth_and_salivating"> Fed the baby on early hunger cues - squirming, stretching, opening the mouth and salivating?</label><br>
    <input type="radio" id="yes" name="hunger" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="hunger" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="if_baby_s_nose_was_p_away_from_the_breast"> If baby's nose was pressed on breast - extended the neck of the baby backwards so that the chin went deeper in the breast and the forehead was extended away from the breast? </label> <br>
    <input type="radio" id="yes" name="nosepressed" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="nosepressed" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="proper_latching_Ba_lowly_and_distinctly"> Proper latching - Baby's cheeks were filled, no dimple, no fast suckling sound, jaw dropped slowly and distinctly?</label><br>
    <input type="radio" id="yes" name="latching" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="latching" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="breastfeed_10_12_times_in_24_hrs"> Breastfeed 10-12 times in 24 hrs? </label> <br>
    <input type="radio" id="yes" name="brestfeedhrs" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="brestfeedhrs" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="breastfeed_2_3_times_at_night"> Breastfeed 2-3 times at night? </label> <br>
    <input type="radio" id="yes" name="bfnyt" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no" name="bfnyt" value="no" checked>
    <label for="no">No</label><br>

    <br><label for="growth_periods_2_we_ring_increase_demand"> Growth periods -2 weeks, 6 weeks and 3 months where baby's demand will increase. Was she suggested to feed frequently during increase demand.</label><br>
    <input type="radio" id="yes" name="growth" value="yes">
    <label for="yes">Yes</label> <br>
    <input type="radio" id="no1" name="growth" value="no" checked>
    <label for="no">No</label><br>

    <center><input type="submit" value="Submit" class="button">
        <center>

</form>

{% endblock %}{% block extra_js %}
<script>
    function validateForm() {

        var name = document.forms["myForm"]["child_id"].value;
        var dob = document.forms["myForm"]["mother_id"].value;
        if (name.length < 1) {
            document.getElementById('Message24').innerHTML = " Please Enter Child ID*"
        }
        if (dob.length < 1) {
            document.getElementById('Message25').innerHTML = " Please Enter Mother ID*";
        }
        if (name.length < 1 || dob.length < 1) {
            return false;
        }
    }
</script> {% endblock %}